
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Domine');
@import url('https://fonts.googleapis.com/css?family=Poly');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');


body {
	background-color:rgb(82, 82, 82);
	background-image: url("../images/cube.png");
	background-size: 300px;
	margin: 0;
	padding: 0;
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Ubuntu', sans-serif;
}

#wrapper {
	margin: auto;
	width:100%;
	min-width:960px;
}

header {
	width: 100%;
	margin: auto;
	background-color:rgb(155, 155, 155);
	min-height: 80px;
}

header nav ul li {
	text-align:center;
	margin:5px;
	padding: 15px;
}

nav{
	text-align:center;
	position: -webkit-sticky; 
    position:absolute;
    top: 15px; 
	left:10%;
	width:80%; 
}


nav ul li {
	display:inline;
	padding:.1em;
	font-family: 'Merriweather', serif;
	font-size:1em;
}

nav ul li a:link, nav ul li a:visited  {
	color:rgb(59, 7, 7);
	text-decoration:none;
	display:inline-block;
}


nav ul li a:hover{	
	color:rgb(255, 153, 0);/*yellow for the visted color*/
}

#canvasDiv{
	border: none;
    display: block;
	padding: 15px;
	margin: auto;
	text-align:center;
}

#gameButtons{
	border: 15px;
    display: block;
	width: 800px;
	border-radius: 15px;
	background-color:rgb(153, 153, 153);
	padding: 15px;
	top: 15px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;

	text-align:center;
}

#aboutLogo{
	text-align: center;
	padding: 5px;
}

#hero {
	width:100%;
	height:100%;
	min-height:600px;
	padding: 15;
	margin: auto;
	text-align:center;
    display: block;
	justify-content: center;
	align-items: center;	
}


footer{
	font-family: 'Merriweather', serif;
	font-size:1em;
	background-color:rgb(153, 153, 153);
	color:black;
	width:100%;
	min-width:960px;
	text-align:center;
	padding:.5px;
	margin-top:10px;
}


.clearFlt {	
text-align:left;
margin:10px;
		}

.copy{
	text-align:right;
	margin:10px;
	}	
	
	
	
/*contact page styles*/

h2{
	font-family: 'Poly', serif;
	font-size:2em;
}

h4{
	font-family: 'Poly', serif;
	font-size:1.2em;
}


main section {
	background-color: rgb(245,245,245);
	display:inline-block; 
	vertical-align:top;
	padding:3em;
	height:800px;	
}

main section.formSection {
	width:45%;
	display:inline-block;
}

main section.formSection h1 { 
	font-size:30px;
}

main section#map {
	background-color:rgb(245,245,245);
	vertical-align:center;
	height:655px;
	width:42%;
	position:absolute;
}

#map{
	text-align:center;
	height:100px;
	top:100px;
}

fieldset.personal{
	font-family: 'Poly', serif;
	font-size:1em;
	text-align:center;
	font-weight: bold;
}

fieldset.personal legend{
	font-family: 'Poly', serif;
	font-size:1.5em;
	text-align:left;
	font-weight:bold;
}

fieldset legend{
	font-family: 'Poly', serif;
	font-size:1.5em;
   	text-align:left;
	font-weight:bold;
}

fieldset.personal label{
	font-family: 'Poly', serif;
	font-size:1em;
	background-color:rgb(245,245,245);
	width:300px;
	display:inline-block;
	text-align:center;
}

fieldset.personal input{
	font-family: 'Poly', serif;
	font-size:1em;
	background-color:white;
	width:300px;
	height:20px;
	display:inline-block;
	text-align:center;
}

fieldset label{
	font-family: 'Poly', serif;
}


/*About page*/
main {
	background-color:rgba(245,245,245,1);
}

#parag {
	font-family: 'Poly', serif;
	font-size:1em;
	height:340px;
	width:900px;
	text-align:left;
	padding:3.5em;
	margin:0 auto;
	
}