/*


Just a simple CSS to keep the HTML easier to read
*/

body {background-color: rgb(133, 133, 133);
    font: normal 18px Arial, Helvetica, sans-serif; 
    font-variant: normal; 
    line-height: 1.5em;
    color: darkslategrey;
    text-align: center;
}

.main_body {background-color: rgb(212, 212, 212); 
    
    width: 960px; 
    margin: auto;
    padding: 18px;
    border: none;
    display: block;
    border-radius: 15px;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 

}


